/* campo 
      220 
540 < 840  > 540
      580. 
      220| 
         |  1500 */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  color: rgb(16, 33, 51);
}

.game-bg {
  width: 1920px;
  height: 1500px;
  background-image: url(arnea_mod.jpg);
}

.game-container {
  margin-left: 540px;
  margin-right: 540px;
}

/* -- HEAD -- */
.head {
  height: 205px;
}
h1 {
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
  margin: 0px;
  background-color: rgba(155, 180, 220, 0.5);
  border-radius: 50px;

  padding: 55px 20px 43px 20px;
}
.score-board {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
}
.score-board > span {
  background-color: rgba(155, 180, 220, 0.6);
  border-radius: 10px;
  outline: 5px solid rgb(61, 143, 193, 0.5);
  outline-offset: -8px;
  padding: 10px 10px 6px 10px;
}
/* GAME GRID */
.game-grid {
  position: relative;
  width: 840px;
  height: 540px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* CELLS */
[class*="cell"] {
  width: 84px;
  height: 90px;
}

.cell {
  background-color: rgba(171, 199, 198, 0.6);
}
.black-cell {
  background-color: rgb(96, 124, 136, 0.6);
}

.bomb {
  background-color: rgb(228, 124, 145, 0.8);
  background-image: url(zigg\ bomb.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.clicked {
  background-color: rgba(155, 180, 220, 0.9);
  outline: 5px solid rgb(61, 143, 193, 0.5);
  outline-offset: -10px;
}

[class*="cell"]:hover,
button:hover {
  cursor: pointer;
}

/* LOSE SCREEN */
.lose-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(116, 49, 176, 0.6);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
h2 {
  font-size: 100px;
  margin-bottom: 40px;
}
button {
  font-family: "League Spartan", sans-serif;
  color: rgb(16, 33, 51);
  font-size: 20px;
  padding: 10px;
  width: 33%;
  border-radius: 10px;
  background-color: rgb(208, 205, 224, 0.9);
  margin-left: 33%;

  outline: 3px solid rgb(61, 143, 193, 0.5);
  outline-offset: -9px;
}

.hidden {
  display: none;
}
